<!DOCTYPE html>
<html ng-app="project">
    <head>
        <style media="screen">

            .form-group {
                display: inline-block;
            }
            .choiceBox {
                width: 83px;
                /*width: 20%;*/
            }
        </style>
        <meta charset="utf-8">
        <link rel="stylesheet" href="nv.d3.min.css"/>
        <link rel="stylesheet" href="calendar-heatmap.css"/>
        <link href="styles/css/bootstrap.css" rel="stylesheet">
        <link href="styles/css/bootstrap.min.css" rel="stylesheet">
        <link href="font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <script src="angular.min.js"></script>
        <script src="d3.min.js"></script>
        <script src="nv.d3.min.js"></script>
        <script src="angular-nvd3.min.js"></script>
        <script src="moment.min.js"></script>
        <script src="calendar-heatmap.js"></script>
        <script src="jquery.min.js"></script>
        <script src="bootstrap.min.js"></script>
        <script src="app.js"></script>
        <script src="json/salesOrders.json"></script>
        <title></title>
    </head>
    <body ng-controller="mainController">
        <div class="">
            <calendar-heatmap data="data" color="'#ff0000'" overview="'year'" sitem="selectedForStroke.item_number" stype="stroke_type"></calendar-heatmap>
            <div style="padding: 50px 30px 50px 20px;">
                <div class="col-md-8">
                    <div class="container">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a data-toggle="tab" href="#home">General comparison by quantity</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#menu1">Two items comparison by quantity</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#menu2">General comparison by price</a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#menu3">Two items comparison by price</a>
                            </li>
                        </ul>

                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <div class="container">
                                    <br>
                                    <div class="form-group">
                                        <label for="">
                                            Select Item:
                                        </label>
                                        <!-- <select class="" ng-model="selectedForStroke" ng-options="item as item.item_number for item in itemsOptions"> -->
                                        <select class="choiceBox" style="color:#3b5998;width:250px" ng-model="selectedForStroke" ng-options="item as item.item_number + '  -  ' + item.item_description for item in itemsOptions">
                                            <option value="">-Choose-</option>
                                        </select>
                                        <div class="form-group">
                                            <button ng-click="GeneralCompare(); btnDisabled=true " class="btn btn-primary btn-xs" ng-model="applyFilterBtn" ng-disabled="selectedForStroke===null">
                                                Apply Filter
                                            </button>
                                        </div>
                                        <div class="form-group">
                                            <button ng-click="removeFilteredData()" class="btn btn-danger btn-xs" ng-model="removeFilterBtn" ng-disabled="!btnDisabled">
                                                Remove Filter
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="menu1" class="tab-pane fade">
                                <div class="container">
                                    <br>
                                    <div class="form-group">
                                        <label for="">
                                            Select Items for comparison:
                                        </label>
                                        <select class="choiceBox" style="color:#ff4500;width:250px" ng-model="cmprItem1" ng-options="item as item.item_number + '  -  ' + item.item_description for item in itemsOptions">
                                            <option value="">-Choose-</option>
                                        </select>
                                        <select class="choiceBox" style="color:#3b5998;width:250px" ng-model="cmprItem2" ng-options="item as item.item_number + '  -  ' + item.item_description for item in itemsOptions">
                                            <option value="">-Choose-</option>
                                        </select>

                                        <div class="form-group">
                                            <button ng-click="itemsCompare(); btnDisabled=true " class="btn btn-primary btn-xs" ng-model="applyFilterBtn" ng-disabled="cmprItem1===null || cmprItem2===null">
                                                Apply Filter
                                            </button>
                                        </div>
                                        <div class="form-group">
                                            <button ng-click="removeFilteredData()" class="btn btn-danger btn-xs" ng-model="removeFilterBtn" ng-disabled="!btnDisabled">
                                                Remove Filter
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="menu2" class="tab-pane fade">
                                <div class="container">
                                    <br>
                                    <div class="form-group">
                                        <label for="">
                                            Select Item:
                                        </label>
                                        <!-- <select class="" ng-model="selectedForStroke" ng-options="item as item.item_number for item in itemsOptions"> -->
                                        <select class="choiceBox" style="color:#3b5998;width:250px" ng-model="selectedForStroke" ng-options="item as item.item_number + '  -  ' + item.item_description for item in itemsOptions">
                                            <option value="">-Choose-</option>
                                        </select>
                                        <div class="form-group">
                                            <button ng-click="GeneralCompareByPrice(); btnDisabled=true " class="btn btn-primary btn-xs" ng-model="applyFilterBtn" ng-disabled="selectedForStroke===null">
                                                Apply Filter
                                            </button>
                                        </div>
                                        <div class="form-group">
                                            <button ng-click="removeFilteredData()" class="btn btn-danger btn-xs" ng-model="removeFilterBtn" ng-disabled="!btnDisabled">
                                                Remove Filter
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="menu3" class="tab-pane fade">
                                <div class="container">
                                    <br>
                                    <div class="form-group">
                                        <label for="">
                                            Select Items for comparison:
                                        </label>
                                        <select class="choiceBox" style="color:#ff4500;width:250px" ng-model="cmprItem1" ng-options="item as item.item_number + '  -  ' + item.item_description for item in itemsOptions">
                                            <option value="">-Choose-</option>
                                        </select>
                                        <select class="choiceBox" style="color:#3b5998;width:250px" ng-model="cmprItem2" ng-options="item as item.item_number + '  -  ' + item.item_description for item in itemsOptions">
                                            <option value="">-Choose-</option>
                                        </select>

                                        <div class="form-group">
                                            <button ng-click="itemsCompareByPrice(); btnDisabled=true " class="btn btn-primary btn-xs" ng-model="applyFilterBtn" ng-disabled="cmprItem1===null || cmprItem2===null">
                                                Apply Filter
                                            </button>
                                        </div>
                                        <div class="form-group">
                                            <button ng-click="removeFilteredData()" class="btn btn-danger btn-xs" ng-model="removeFilterBtn" ng-disabled="!btnDisabled">
                                                Remove Filter
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class=""></div>
    </body>
</html>
