<!DOCTYPE html>
<html ng-app="project">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="nv.d3.min.css"/>
    <link rel="stylesheet" href="calendar-heatmap.css"/>
    <script src="angular.min.js"></script>
    <script src="d3.min.js"></script>
    <script src="nv.d3.min.js"></script>
    <script src="angular-nvd3.min.js"></script>
    <script src="moment.min.js"></script>
    <script src="calendar-heatmap.js"></script>
    <script src="app.js"></script>
    <script src="json/salesOrders.json"></script>
    <title></title>
  </head>
  <body ng-controller="mainController">
    <div class="">
      <calendar-heatmap data="data" color="'#ff0000'" overview="'year'"></calendar-heatmap>
    </br></br>
      <label for=""> Filter by item: </label>
      <select class="form-control" ng-model="item" ng-options="item as item.item_number for item in itemsOptions">
            <option value="">-Choose-</option>
       </select>
       <button ng-click="getFilteredData()" class="btn btn-primary" ng-model="applyFilterBtn" ng-disabled="item === ''"><span class="fa fa-plus-circle fa-lg"></span> Apply Filter </button>
    </div>

<div class="">

</div>

  </body>
</html>
